.app-container {
  min-height: 100vh;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}
